{
    "development": {
      "username": "",
      "password": "",
      "database": "",
      "host": "",
      "dialect": "mysql",
      "seederStorage": "json",
      "seederStoragePath": "sequelizeSeeds.json"
    },
    "test": {
      "username": "",
      "password": "",
      "database": "",
      "host": "",
      "dialect": "mysql"
    },
    "production": {
      "username": "",
      "password": "",
      "database": "",
      "host": "",
      "dialect": "mysql"
    }
  }
  